{% extends "templateLog.html" %}
{% block title %} Register - ConnectMe {% endblock %}

{% block content %}
    <div class = "container" style="position: absolute; left: 10%; top: 20%;width: 75%;">
      <div class="col-md-4">
        <h2 class="pb-2"><b>Create Profile</b></h2>

        <form method="POST" action="/questions">
          <div class="row pb-2">
            <div class="col">
              <input class="form-control mr-sm-2" type="text" name="name" placeholder = "Name" required>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col">
              <input class="form-control mr-sm-2" type="email" name="email" placeholder = "Email" required>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col">
              <input class="form-control mr-sm-2" id="password" name="pswd" type="password" placeholder = "Password" required>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col">
              <input class="form-control mr-sm-2" id="confirmPassword" name="cpswd" type="password" placeholder = "Confirm Password" required>
            </div>
          </div>
          <input class="btn btn-warning text-dark shadow mb-5" id="readyButton" type="submit" name="submit" value="I'm ready...">
        </form>
      </div>
    </div>
      <script src='./file/register.js'></script>
{% endblock %}
