nav {
	background-color: #222222 !important;
}

body {
	background-color: #2e294e !important;
}

.container {
	background-color: #2e294e !important;
}

h1 {
	color: #79b791 !important;
}

h2 {
	color: #79b791 !important;
}

h4 {
	color: #79b791 !important;
}

.navbar-brand{	
	color: #79b791 !important;
}

.btn{
	color: #79b791 !important;
	border-color: #79b791 !important;
	background-color: transparent !important;
}

footer {
	background-color: #222222 !important;
	color: #79b791 !important;
}
