nav {
	background-color: #9997ef !important;
}

*{
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #f2f2ff !important;
}

.container {
	background-color: #f2f2ff !important;
}

h1 {
	color: #17163f !important;
}

h2 {
	color: #17163f !important;
}

h4 {
	color: #17163f !important;
}

.navbar-brand{	
	color: #17163f !important;
}

.btn{
	color: #17163f !important;
	border-color: #17163f !important;
	background-color: transparent !important;
}

footer {
	background-color: #9997ef !important;
	color: #17163f !important;
}
