{% extends "templateLog.html" %}
{% block title %} Register - ConnectMe {% endblock %}

{% block content %}
<html>
  <head>
  </head>
  <body>
    <div>
      <h1>
        Create Profile
      </h1>
    </div>

    <form method="POST" action="/questions">
      <h4>Name</h4>
      <input name="name" type="text"><br>

      <h4>Email</h4>
      <input name="email" type="text"><br>

      <h4>Password</h4>
      <input name="pswd" type="password"><br>

      <h4>Confirm Password</h4>
      <input name="cpswd" type="password"><br><br>

      <input type="Submit" value="I'm ready...">
    </form>
  </body>
</html>
{% endblock %}
