<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" href="static/css/colorscheme.css">
	  <link rel="stylesheet" href="./file/css/normalize.min.css">
	  <link rel="stylesheet" href="./file/css/style.css">
	  <link rel="stylesheet" href="./file/css/messagesList.css">
	  <link rel='stylesheet' href='./file/css/font-awesome.css'>
	  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h2 class="center">Messages</h2>
		<br>
	  <div class="row">
	    <div class="col-sm">
	      	<div class="card">
				  <div class="card-body">
				    This is some text within a card body.
				  </div>
			</div>
	    </div>
	  </div>
	</div>

</body>
</html>