<!DOCTYPE html>
<html>
<head>
	<title>Messages</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" href="static/css/colorscheme.css">
	  <link rel="stylesheet" href="./file/css/normalize.min.css">
	  <link rel="stylesheet" href="./file/css/style.css">
	  <link rel="stylesheet" href="./file/css/messagesList.css">
	  <link rel='stylesheet' href='./file/css/font-awesome.css'>
    <style type="text/css">
        #sorry {
          color: black;
        }
    </style>
	  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
	    <nav class="navbar fixed-top navbar-dark flex-row">
      <!-- The navbar present at the top of our demo page -->
        <a class="navbar-brand" href="/"><img height="40px" src="./file/pictures/logo.png"></a>
        {% block login %}
          {% if not crtprof %}
            {% if not logged_in %}
                <form class="form-inline my-2 my-lg-0" action="/register">
                       <button class="form-control btn my-2 my-sm-0" type="submit">Register</a>
                </form>
            {% endif %}
            {% if logged_in %}
              <div class="row">
                 <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/messages">
                         <button class="form-control btn my-2 my-sm-0" type="submit">Messages <i class="fa fa-comments"></i></a>
                  </form>
                </div>
                <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/profile">
                         <button class="form-control btn my-2 my-sm-0" type="submit">{{ username }}  <i class="fa fa-user"></i></a>
                  </form>
                </div>
                <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/logout">
                         <button class="form-control btn my-2 my-sm-0" type="submit">Logout <i class="fa fa-sign-out"></i></a>
                  </form>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endblock %}
    </nav>
		<div class="main">
			<h2 class="center">Messages</h2>
			<br>
		  <div class="row">
		    <div class="col-sm" id="list">
		    		
		    </div>
		  </div>
			</div>
	</div>
<script>
	const myId = {{id}}
</script>
<script>
const messageList = document.getElementById('list')
  const createMessageCard = async (name, lastMessage, email, num) => {
    let imageUrl = "./file/pictures/default.jpeg"
    fetch(`./file/pictures/${email.replace('@', '-').replace('.', '-')}.jpeg`)
    .then((response) => {
      console.log('here')
      if (response.status !== 404) {
        imageUrl = `./file/pictures/${email.replace('@', '-').replace('.', '-')}.jpeg`
      }
      messageList.innerHTML += `<a href="./message/${num}">
              <div class="card">
                <div class="card-body">

                  <img class="profilePictures" src="${imageUrl}" width="50px">
                  <span class="name"><b>${name}</b> (${email})</span>                 
                  <span class="lastMessage">${lastMessage}</span>
                </div>
            </div>
            </a>`
    })
}


fetch(`./getMessages/${myId}`)
  .then(function(response) {
    console.log(response)
    return response.json();
  })
  .then(async (myJson)  => {
    if (myJson.length == 0) {
        messageList.innerHTML += '<p id="sorry"><i>Sorry you do not have any matches at this time</i></p>'
    }
  	myJson.forEach( async (person) => {
  		createMessageCard(person[0], person[3][3], person[1], person[2])
  	})
  })



</script>
</body>
</html>