<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../file/messageStyle.css">
	</head>
	<body>
	<div id="messages">
            </div>
		<div class="container">
			<input id="messageBox" type="text"/>
			<button type="submit" id="sendButton">Send</button>
		</div>
    <script type="text/javascript">
    	const num = {{ num }}
    	const convoNum = {{ convoNum }}
    	const myNum = {{id}}
    	const myEmail = '{{myEmail}}'
    	const convoEmail = '{{convoEmail}}'
    </script>
	<script>
		const myProfileUrl = `../file/pictures/${myEmail.replace('@', '-').replace('.', '-')}.jpeg`
		const convoProfileUrl = `../file/pictures/${convoEmail.replace('@', '-').replace('.', '-')}.jpeg`

		const sendButton = document.getElementById('sendButton')
		// const num = document.getElementById('num').innerHTML
		console.log(num)
		const messagesDiv = document.getElementById('messages')
		const messageInput = document.getElementById('messageBox')
		const now = new Date()
		let length = 0;
		const update = () => {
			fetch('../api/getMessages')
		  .then(function(response) {
		    return response.json();
		  })
		  .then(function(myJson) {
		  	if (myJson.length > length) {
		  		console.log(myJson)
		  		console.log(num)
		  		messagesDiv.innerHTML += friendMessage(myJson[myJson.length - 1].message)
		  		length++
		  	}
		  });
		  // setTimeout(update, 1000);
		}
		console.log(`../api/getMessages?user1=${myEmail}&user2=${convoEmail}`)
		fetch(`../api/getMessages?user1=${myEmail}&user2=${convoEmail}`)
		  .then(function(response) {
		    return response.json();
		  })
		  .then(function(myJson) {
		  	console.log('myJson')
		  	console.log(myJson)
		  	myJson.forEach(message => {
		  		if (message[1] == myEmail) {
		  			messagesDiv.innerHTML += createMessageHTML(message[3])
		  		} else {
		  			messagesDiv.innerHTML += friendMessage(message[3])
		  		}
		  	})
		 });
		// update()

		sendButton.addEventListener('click', () => {
			messagesDiv.innerHTML += createMessageHTML(messageInput.value)
			length++;
			fetch(`../sendMessage?txt=${messageInput.value}&user1=${myEmail}&user2=${convoEmail}`).then((res) => res.json()).then(json => {
				console.log(json)
				messageInput.value = ""
			})
		})

		const createMessageHTML = (message) => {
			return `
			<div class="container darker">
				  <img src=${myProfileUrl} alt="Avatar" class="right">
				  <p>${message}</p>
				</div>
		`
		}

		const friendMessage = (message) => {
			return `<div class="container">
		  <img src=${convoProfileUrl} alt="Avatar">
		  <p>${message}</p>
		</div>`
		}
	</script>       
	</body>
	
</html>
