<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Tinder swipe cards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="./file/css/normalize.min.css">


      <link rel="stylesheet" href="./file/css/style.css">
  <link rel='stylesheet' href='./file/css/font-awesome.css'>

</head>

<body>
  <div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards" id="cardRoot">
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="message"><i class="fa fa-comments"></i></button> 
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
  <script src='./file/hammer.min.js'></script>
<script src='./file/app.js'></script>
</body>
</html>

</body>

</html>

