<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Home - ConnectMe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/colorscheme.css">
  <link rel="stylesheet" href="./file/css/normalize.min.css">
  <link rel="stylesheet" href="./file/css/style.css">
  <link rel='stylesheet' href='./file/css/font-awesome.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav class="navbar fixed-top navbar-dark flex-row">
      <!-- The navbar present at the top of our demo page -->
        <a class="navbar-brand" href="/"><b>ConnectMe</b></a>
        {% block login %}
          {% if not crtprof %}
            {% if not logged_in %}
                <form class="form-inline my-2 my-lg-0" action="/register">
                       <button class="form-control btn my-2 my-sm-0" type="submit">Register</a>
                </form>
            {% endif %}
            {% if logged_in %}
              <div class="row">
                <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/profile">
                         <button class="form-control btn my-2 my-sm-0" type="submit">{{ username }}</a>
                  </form>
                </div>
                <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/logout">
                         <button class="form-control btn my-2 my-sm-0" type="submit">Logout</a>
                  </form>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endblock %}
    </nav>
  </div>

  <br>

  <div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards" id="cardRoot">
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="message"><i class="fa fa-comments"></i></button> 
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
  <script src='./file/hammer.min.js'></script>
<script src='./file/app.js'></script>
</body>
</html>

</body>

</html>
