{% extends "template.html" %}
{% block login %}
{% if not crtprof %}
  {% if not logged_in %}
      <form class="form-inline my-2 my-lg-0" action="/register">
             <button class="form-control btn my-2 my-sm-0" type="submit">Register</a>
      </form>
  {% endif %}
{% endif %}
{% if logged_in %}
<div class="collapse d-flex flex-row-reverse" id="navbarSupportedContent">
<!-- Log Out -->
  <form class="form-inline my-2 my-lg-0" action="/logout">
    <input type="hidden" name="address" value="{{request.full_path}}">
    <input class="btn btn-outline-warning ml-4" type="submit" value="Log Out">
  </form>
<!-- User Profile -->
  <div>
    <form class="form-inline my-2 my-lg-0" action="/profile">
      <input class="btn btn-outline-warning ml-4" type="submit" value="Profile">
    </form>
  </div>

  <div style="color: #22AAA1;padding-top: 6px">
    {{ username }}
  </div>
</div>

{% endif %}
{% endblock %}
