{% extends "template.html" %}
{% block login %}
{% if not crtprof %}
  {% if not logged_in %}
      <form class="form-inline my-2 my-lg-0" action="/register">
             <button class="form-control btn my-2 my-sm-0" type="submit">Register</a>
      </form>
  {% endif %}
  {% if logged_in %}
      <div class="row">
                 <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/messages">
                         <button class="form-control btn my-2 my-sm-0" type="submit">Messages <i class="fa fa-comments"></i></a>
                  </form>
                </div>
                <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/profile">
                         <button class="form-control btn my-2 my-sm-0" type="submit">{{ username }}  <i class="fa fa-user"></i></a>
                  </form>
                </div>
                <div class="col">
                  <form class="form-inline my-2 my-lg-0" action="/logout">
                         <button class="form-control btn my-2 my-sm-0" type="submit">Logout <i class="fa fa-sign-out"></i></a>
                  </form>
                </div>
              </div>
  {% endif %}
{% endif %}
{% endblock %}